<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Remove all handlers and add only ASP.NET Core -->
      <handlers>
        <clear />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <!-- Remove default documents to prevent conflicts -->
      <modules>
        <remove name="DefaultDocumentModule" />
      </modules>
      <aspNetCore processPath="dotnet" 
                  arguments=".\UrbanReferralNetwork.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_PATHBASE" value="/geospatial" />
          <environmentVariable name="ConnectionStrings__DefaultConnection" value="Server=sql8011.arnaco.com;Database=db_a28254_urbaweb;User Id=db_a28254_urbaweb_admin;Password=6Th38P623hLg;Encrypt=true;TrustServerCertificate=true;MultipleActiveResultSets=true" />
        </environmentVariables>
      </aspNetCore>
      <!-- Static file handling -->
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
      
      <!-- Security headers -->
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1; mode=block" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 361286C9-2542-4D22-9E59-9909F10C150B-->